html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes rotationZ {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}
.persona-iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.persona-iframe-container > iframe {
  width: 100%;
  height: 100%;
}
